{% extends 'base_email.html' %}

{% block body %}
    <h1>Ой, вы забыли свой пароль?</h1>
    <p>Ничего страшного, вы вам поможем востановить. Перейдите по ссылке ниже и установите новый пароль.</p>
    <br/>

    <div style="text-align: center;">
        <a href="{{ url }}" style="background: #3273dc; color: #fff; text-decoration: none; margin-top: 10rem;
            padding: 0.8rem 3rem; border-radius: 0.5rem; display: inline;">
            Восстановить пароль
        </a>
    </div>
{% endblock %}